<key>NSCameraUsageDescription</key>
<string>This app requires access to the camera to take photos.</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>This app requires access to your photo gallery to select photos.</string>
<!-- If you want to save photos to the library -->
<key>NSPhotoLibraryAddUsageDescription</key>
<string>This app requires access to your photo gallery to save photos.</string>
